<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio en casa</title>
    
    <link href="https://bootswatch.com/5/cosmo/bootstrap.css" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
    <script src="/index.js"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Lab en casa</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="demo">Demo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/pendulo">Péndulo simple</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/inclinado">Plano inclinado</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Más experimentos</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">MRUA</a>
                  <a class="dropdown-item" href="#">Humedad en suelo</a>
                  <a class="dropdown-item" href="#">Temperatura y humedad en aire</a>
                </div>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-sm-2" type="text" placeholder="Buscar experimentos">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
      <section class="container">


        <div class="progress" style="margin-top: 2rem; height: 30px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <h6 class="text-alert">interfaz no conectada por favor revisa la conexion USB</h6>
            </div>
        </div>
        
        
            <div class="d-flex">
              <div>
                <div>
                    <button
                      type="button"
                      class="btn btn-success disabled"
                      style="margin-top: 2rem"
                    >
                      Grabar
                    </button>
                    <button type="button" 
                        class="btn btn-danger disabled" 
                        style="margin-top: 2rem">
                      Borrar
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary disabled"
                      style="margin-top: 2rem"
                    >
                      Graficar
                    </button>
                </div>
                <!-- <div style="margin-top: 4rem;">
                  <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Lectura</th>
                          <th scope="col">Ángulo</th>
                          <th scope="col">Masa</th>
                          <th scope="col">Tiempo</th>
                          <th scope="col">Distancia</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="table-primary">
                          <th scope="row">1</th>
                          <td>2°</td>
                          <td>15 g</td>
                          <td>2.4 s</td>
                          <td>100 cm</td>
                        </tr>
                      </tbody>
                      <tbody>
                          <tr class="table-secondary">
                            <th scope="row">2</th>
                            <td>8°</td>
                            <td>15 g</td>
                            <td>2.0 s</td>
                            <td>100 cm</td>
                          </tr>
                        </tbody>
                        <tbody>
                          <tr class="table-primary">
                            <th scope="row">3</th>
                            <td>12°</td>
                            <td>15 g</td>
                            <td>2.2 s</td>
                            <td>100 cm</td>
                          </tr>
                        </tbody>
                        <tbody>
                          <tr class="table-secondary">
                            <th scope="row">4</th>
                            <td>16°</td>
                            <td>15 g</td>
                            <td>2.4 s</td>
                            <td>100 cm</td>
                          </tr>
                        </tbody>
                        <tbody>
                          <tr class="table-primary">
                            <th scope="row">5</th>
                            <td>19°</td>
                            <td>15 g</td>
                            <td>2.4 s</td>
                            <td>100 cm</td>
                          </tr>
                        </tbody>
                  </table>
                            
                </div> -->
              </div>
      
              <div id="chartdiv" style="height: 500px;">
                <!-- Styles -->
                <style>
                  #chartdiv {
                    width: 100%;
                    height: 500px;
                  }
                </style>
      
                <!-- Resources -->
                <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
                <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
                <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
      
                <!-- Chart code -->
                <script>
                  am4core.ready(function () {
                    // Themes begin
                    am4core.useTheme(am4themes_animated);
                    // Themes end
      
                    // Create chart instance
                    var chart = am4core.create("chartdiv", am4charts.XYChart);
      
      
                    // Create axes
                    var valueAxisX = chart.xAxes.push(new am4charts.ValueAxis());
                    valueAxisX.title.text = "X Axis";
                    valueAxisX.renderer.minGridDistance = 40;
      
                    // Create value axis
                    var valueAxisY = chart.yAxes.push(new am4charts.ValueAxis());
                    valueAxisY.title.text = "Y Axis";
      
                    
      
                    // Add a bullet
                    var bullet = lineSeries.bullets.push(new am4charts.Bullet());
      
                    // Add a triangle to act as am arrow
                    var arrow = bullet.createChild(am4core.Triangle);
                    arrow.horizontalCenter = "middle";
                    arrow.verticalCenter = "middle";
                    arrow.strokeWidth = 0;
                    arrow.fill = chart.colors.getIndex(0);
                    arrow.direction = "top";
                    arrow.width = 12;
                    arrow.height = 12;
      
                    // Add a bullet
                    var bullet2 = lineSeries2.bullets.push(new am4charts.Bullet());
      
                    // Add a triangle to act as am arrow
                    var arrow2 = bullet2.createChild(am4core.Triangle);
                    arrow2.horizontalCenter = "middle";
                    arrow2.verticalCenter = "middle";
                    arrow2.rotation = 180;
                    arrow2.strokeWidth = 0;
                    arrow2.fill = chart.colors.getIndex(3);
                    arrow2.direction = "top";
                    arrow2.width = 12;
                    arrow2.height = 12;
      
                    
      
                    //scrollbars
                    chart.scrollbarX = new am4core.Scrollbar();
                    chart.scrollbarY = new am4core.Scrollbar();
                  }); // end am4core.ready()
                </script>
              </div>
            </div>
          </section>
</body>
</html>